body {
    margin : 0px;
    padding: 0px;
    background: #f8b053;
}

header {
    background: #f8b053;
    padding: 20px 0;
}


.principal{
    background: #fcac43;
    padding: 30px;
}

.itens{
    font-style: italic;
}

.beneficios{
    text-align: center;
    background: #f8b053;
    padding: 20px;
}

.beneficios {
    background: #f8b053;
    padding: 20px;
    font-size:20px;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 90px;
    margin-right: 15%;
}

.imgbeneficios{
    width: 50%;
}

p{
    text-align: center;
}

em strong{
    color: #0955f8;
}

#gobbi{
    width: 400%;
}

h1{
    text-align: center;
}

#missao{
    font-size: 20px;
}

.titulo-principal{
    padding-left: 20px;
}

.centralizado{
    text-align: center;
}

li{
    text-decoration: none;
    list-style-type: none;
}


nav {
position: absolute;
top: 110px;
right: 0;
}

nav li {
display: inline;
margin: 0 0 0 15px;
}

nav a {
text-transform: uppercase;
color: #000000;
font-weight: bold;
font-size: 22px;
text-decoration: none;
}

nav a:hover {
color: #C78C19;
text-decoration: underline;
}

main {
width: 940px;
margin: 0 auto;
}


.beneficios {
background: #f8b053;
padding: 20px;
font-size:20px;
}

.beneficios ul {
display: inline-block;
vertical-align: top;
width: 20%;
margin-right: 15%;
line-height : 2.0;
}

.imagembeneficios {
width: 50%;
}
